<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header::header}"></head>
<body>
<div class="container mt-5" style="font-size:1rem;">
  <a th:href="@{/flights/add}" class="btn btn-light">New Flight</a>
  <br>
  <span th:if="${allFlights == null || allFlights.size() == 0}"
        style="color: red; font-size: 20px;">No available flights!</span>
<table class="table">
  <thead>
  <tr>
    <th scope="col" class="text-info">ID</th>
    <th scope="col" class="text-info">From Date</th>
    <th scope="col" class="text-info">To Date</th>
    <th scope="col" class="text-info">From Place</th>
    <th scope="col" class="text-info">To Place</th>
    <th scope="col" class="text-info">Current Passengers Count</th>
    <th scope="col" class="text-info">Max Passengers Count</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="currentFlight : ${allFlights}">
    <td th:text="${currentFlight.id}"></td>
    <td th:text="${currentFlight.startDate}"></td>
    <td th:text="${currentFlight.endDate}"></td>
    <td th:text="${currentFlight.fromPlaceName}"></td>
    <td th:text="${currentFlight.toPlaceName}"></td>
    <td th:text="${currentFlight.currentPassengersCount}"></td>
    <td th:text="${currentFlight.maxPassengersCount}"></td>
    <td>
      <form th:object="${currentFlight}" th:action="@{/flights/{id}/delete(id=*{id})}"
            th:method="GET">
        <input type="submit" th:value="Delete" class="btn btn-danger">
      </form>
    </td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>